.footer {
    grid-row: 3 / 3;
    grid-column: 1/-1;
    background-color: $nav-background-color;
    height: 19vh;
    padding-top: 2em;
    margin-top: 20px;
    background-image: url('../../../assets/img/black-paper.png');

    p {
        margin-left: 2em;
        margin-right: 2em;
    }

    * {
        color: $footer-color;
    }

    a {
        text-decoration: none;
        display: inline-block;
        margin: 0 auto;
    }
}

.social {
    text-align: center;

    i {
        margin: 0 20px;
        font-size: 2em;
    }
}
