.site-header {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 10px;
    height: 10vh;
    background-color: $nav-background-color;
    background-image: url('../../../assets/img/black-paper.png');

    h1:hover {
        color: $accent-color;
    }

    * {
        color: $header-text-color;
        text-decoration: none;
    }

    img {
        height: 5em;
    }
}



.nav {
    background-color: $nav-bar-under-color;
    height: fit-content;


    ul {
        margin: 0;
        padding: 0;
        background-image: url('../../../assets/img/black-paper.png');
    }
}


.nav li {
    background-color: $nav-background-color;
    font-size: 1.3em;
    padding: 0.5em 1em;
    margin: 10px;



    a {
        text-decoration: none;
        color: $header-text-color;
    }

}

.header {
    a:hover {
        color: $accent-color;
    }
}
