.site-header {
    display: flex;
    align-items: center;
    gap: 4em;
    padding: 10px;
    height: 10vh;
    background-color: $nav-background-color;

    * {
        color: $header-text-color;
    }

    img {
        height: 5em;
    }
}

.nav {
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: $nav-bar-under-color;
    height: fit-content;

    ul {
        margin: 0;
        padding: 0;
    }
}


.nav li {
    background-color: $nav-background-color;
    font-size: 1.3em;
    padding: 0.5em 1em;
    margin: 10px;

    a {
        color: $header-text-color;
    }

    a :hover {
        color: $font-color;
    }
}
