@media (min-width: 767px) {
    .aside-grid {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;

        p {
            margin: 0;
        }
    }

    .aside-grid * {
        grid-column: 2 / 2;
    }
}

@media (min-width: 767px) {
    .aside {
        grid-column: 1 / 1;
        grid-row: 2 / 8;
    }
}

.aside {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: $nav-background-color;
    margin: 0.3em 1em;

    a {
        margin: 0.4em;
        color: $dark-background-text-color;
    }

    a:hover {
        background-color: rgb(128, 128, 128);
        border-radius: 4%;
    }
}

@media (max-width: 1200px) {
    .aside-grid {
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 767px) {
    .aside {
        display: none;
    }
}

