.grid {
    display: grid;
}

.card:hover {
    background-color: $hover-color;
    box-shadow: 0 0 4px 4px rgba($color: #000, $alpha: 0.7);
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, auto);
    }

    .card {
        min-height: 150px;
    }
}

@media (min-width: 767px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 200px 200px 300px;
    }

    .title {
        grid-column: 1 / 1;
        grid-row: auto;
    }

    .javascript {
        grid-column: 1 / 1;
        grid-row: auto;
    }

    .github {
        grid-column: 2 / span 2;
        grid-row: auto;
    }

    .python {
        grid-column: 1 / span 2;
        grid-row: auto;
    }

    .sqlite {
        grid-column: 3 / 3;
        grid-row: auto;
    }

    .css {
        grid-column: 1 / 1;
        grid-row: auto;
    }

    .php {
        grid-column: 3 / 3;
        grid-row: auto;
    }

    .html {
        grid-column: 2 / 2;
        grid-row: auto;
    }
}

.card {
    box-sizing: border-box;
    background-color: $nav-background-color;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

    * {
        color: rgb(255, 255, 255);
    }
}
