* {
    color: $font-color;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-size: $font-header-size;
}

h1 {
    padding-top: 0.1em;
}

.main {
    display: inline-block;
    margin: 0 30vh;
    min-height: 60vh;
}

@media (max-width: 1200px) {
    .main {
        margin: 0 5vh;
    }
}

p > img {
    width: 30vh;
}
