$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #8a5c28;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$font-header-size: 1.3em;

$nav-background-color: #4c6a79;
$nav-bar-under-color: #305470;
$dark-background-text-color: rgb(255, 255, 255);
$header-text-color: #edf6fd;
$pre-background-color: rgb(129, 129, 129);
$pre-color: rgb(0, 0, 0);
$footer-color: #dfeef8;

$hover-color: #3b4852;

$img-filter: 1;
$body-background-image: '../../../assets/img/brushed-alum.png';
