$font-color: rgb(212, 212, 212);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: rgb(53, 53, 53);
$background-alternative-color: #e0fbfc;
$font-header-size: 1.3em;

$nav-background-color: #4e4e4e;
$nav-bar-under-color: rgb(0, 0, 0);
$dark-background-text-color: rgb(255, 255, 255);
$header-text-color: #d4d4d4;
$pre-color: rgb(129, 129, 129);
$footer-color: rgb(255, 255, 255);

$hover-color: #292d30;

$img-filter: 0.7;
