{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main gallery" role="main">
        {{ content }}
    </div>
    <div class="embed-container card">
        <iframe src="https://www.youtube.com/embed/6q0d76wOrto" frameborder="0" allowfullscreen></iframe>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
